{% extends layout %}

{% block headScript %}

<script type="text/javascript">
(function($){

	window.addEvent('domready', function(){
		new Form.Request($('artbeatApi'), $('events'));
	});

}(document.id));
</script>

{% endblock headScript %}

{% block content %}

	<aside class="mod paths">
		<ul class="breadcrumb">
			<li><a title="home" href="/">home</a></li>
			<li><strong>artbeat</strong></li>
		</ul>
	</aside>

	<section class="mod">
		<header class="hd">
			<h3>Tokyo Art Beat Python Package v1.0</h3>
		</header>
		<div class="bd">
			<form id="artbeatApi" method="post" action="/artbeat/event">
				<input type="hidden" name="latitude" value="35.6763" />
				<input type="hidden" name="longitude" value="139.8105" />
				<p>Coordinates of the retrieval are 35.6763, and 139.8105. <button type="submit">Search</button></p>
			</form>

			<section class="mod">
				<header class="hd">
					<h4>Events</h4>
				</header>
				<div id="events" class="bd">
					<p>The event list is displayed here.</p>
				</div>
			</section>

		</div>
	</section>

{% endblock %}